<v-container class="product_list px-0">
    <v-data-table :headers="headers" :items="filter_value" :disable-pagination="true" :hide-default-footer="true"
        sort-by="calories" class="elevation-1 pb-10">
        <template v-slot:body="props">
            <draggable :list="filter_value" tag="tbody" handle=".page__grab-icon" @end="drag=false,ChangeSort()">
                <tr v-for="(item, index) in filter_value" :key="index">
                    <td>
                        <v-icon small class="page__grab-icon">
                            mdi-dots-grid
                        </v-icon>
                    </td>
                    <td class="d-flex align-center">
                        <img style="aspect-ratio:1;width:40px;" class="rounded-lg"
                            :src="ConvertImage(item.Image1)"></img>
                    </td>
                    <td>
                        <router-link :to="`/product/${item.GoodsID}`">{{ item.Title }}</router-link>
                    </td>
                    <td>
                        {{item.created_at}}
                    </td>
                    <td>
                        <v-chip v-if="item.Status" class="success" small>
                            已啟用
                        </v-chip>
                        <v-chip v-else class="" small>
                            已停用
                        </v-chip>
                        <!-- <v-switch @change="ChangeStatus(item)" v-model="item.Status"></v-switch> -->
                    </td>
                    <td>
                        <v-btn @click="$emit('open-image',item.GoodsID)" small color="primary" class="mr-2">圖片設定
                        </v-btn>
                        <v-btn @click="$emit('open-stock',item.GoodsID)" small color="success" class="mr-2">庫存設定
                        </v-btn>
                        <v-btn @click="$emit('delete-data',item.GoodsID)" small color="error">刪除</v-btn>
                    </td>
                </tr>
            </draggable>
        </template>

        <template v-slot:no-data>
            <v-btn color="primary">
                Reset
            </v-btn>
        </template>
    </v-data-table>
</v-container>