<div>
  <v-container v-if="member_data!=null">
    <v-row>
      <v-col cols="12" class="d-flex justify-space-between">
        <Breadcrumb :link_array="breadcrumb_data" />
      </v-col>
      <v-col cols="12">
        <div class="searchbar d-flex align-stretch  pb-2">
          <v-btn class="ma-0 py-0 filter_btn  black--text" outlined>
            會員搜尋
          </v-btn>
          <v-text-field
            class="searchtext"
            v-model="key_word"
            hide-details="auto"
            color="grey darken-2"
            outlined
            dense
            append-icon="mdi-magnify"
          ></v-text-field>
        </div>
      </v-col>
      <v-col cols="12" md="12" lg="12" class="mx-auto pa-0 px-4">
        <MainList
          :options="options"
          :headers="headers"
          @title-action="$router.push(`/member/${$event.MemberID}`)"
          v-model="filter_member"
        />
      </v-col>
    </v-row>
  </v-container>
</div>
