<div id="Products">
    <DeleteDialog ref="DeleteDialog" v-on:load-data="$router.push('/news')" />
    <v-container v-if="news_data!=null">
        <v-row>
            <Breadcrumb :link_array="breadcrumb_data" />
            <v-col cols="12" md="12" lg="12" class="mx-auto py-0">
                <div class="header d-flex justify-space-between align-center">
                    <h3 class="my-0 text-h5 font-weight-black">文章 / {{news_data.title}}
                        <span class="text-body-2 grey--text text--darken-1 font-weight-regular ml-2">最後更新於
                            : {{news_data.update_time}}</span>
                    </h3>
                </div>
            </v-col>
            <v-col cols="12" md="12" lg="12" class="mx-auto py-0">
                <v-btn @click="OpenDeleteDialog" class="px-0 mr-4" color="error" small text>
                    <v-icon small>mdi-trash-can-outline</v-icon>刪除文章
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" md="8">
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <p class="mt-0 mb-2">文章標題*</p>
                    <v-text-field v-model="news_data.title" dense outlined></v-text-field>
                    <p class="mt-0 mb-2">文章內容</p>
                    <FroalaEditor v-model="news_data.description" />
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <h3 class="d-flex align-center mb-4">
                        <v-icon class="mr-2">mdi-list-status</v-icon>文章狀態
                    </h3>
                    <v-select v-model="news_data.status" :items="status_data" item-text="label" item-value="value"
                        hide-details dense outlined single-line></v-select>
                </v-card>
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <h3 class="d-flex align-center mb-4">
                        <v-icon class="mr-2">mdi-list-status</v-icon>文章分類
                    </h3>
                    <v-select v-model="news_data.category" :items="type_data" hide-details dense outlined single-line>
                    </v-select>
                </v-card>


            </v-col>
        </v-row>
    </v-container>
</div>