<v-container class="product_list px-0">
    <v-data-table :disable-sort="true" :headers="headers" :items="value" :disable-pagination="true"
        :hide-default-footer="true" sort-by="calories" class="elevation-1 pb-10">
        <template v-slot:item.Title="{item}">
            <a @click="SetEdit(item)">{{ item.Title }}</a>
        </template>
        <template v-slot:item.action="{ item }">
            <v-btn @click="$emit('delete-data',item)" small color="error">刪除</v-btn>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">
                Reset
            </v-btn>
        </template>

        <template v-slot:no-data>
            <v-btn color="primary">
                Reset
            </v-btn>
        </template>
    </v-data-table>
</v-container>