<div id="Products">
    <template>
        <!-- QUESTION DIALOG -->
        <CreateDialog ref="CreateDialog" v-on:create-mascot="SendCreateData" />
        <EditDialog ref="EditDialog" v-on:update-mascot="SendUpdateData" />
        <DeleteDialog ref="DeleteDialog" v-on:delete-mascot="SendDeleteData" />
    </template>
    <Breadcrumb :link_array="breadcrumb_data" />
    <v-container v-if="mascot_data!=null">
        <v-row>
            <v-col cols="12" md="12" lg="12" class="mx-auto pa-0 mt-8 px-4">
                <div class="d-flex justify-space-between align-center">
                    <h3>角色館列表</h3>
                    <v-btn @click="OpenCreateDialog" color="primary font-weight-bold">新增</v-btn>
                </div>
                <ListShow v-on:update-sort="UpdateMascotSort" v-on:delete-data="OpenDeleteDialog"
                    v-on:set-edit="OpenEditDialog" v-model="mascot_data" />
            </v-col>
        </v-row>
    </v-container>
</div>