<v-container class="product_list px-0">
  <v-data-table
    :disable-sort="true"
    :headers="headers"
    :items="value"
    :disable-pagination="true"
    :hide-default-footer="true"
    sort-by="calories"
    class="elevation-1 pb-10"
  >
    <template v-slot:body="props">
      <draggable
        :list="value"
        @change="ChangeSort"
        tag="tbody"
        handle=".page__grab-icon"
        @end="drag=false"
      >
        <tr v-for="(item, index) in value" :key="index">
          <td>
            <a @click="$emit('edit-shipping',item)">{{ item.Title }}</a>
          </td>

          <td>
            {{item.created_at}}
          </td>
          <td>
            {{item.ShippingFee}}元
          </td>
          <td>
            <v-chip v-if="item.Status=='Y'" class="success" small>
              已啟用
            </v-chip>
            <v-chip v-else class="" small>
              已停用
            </v-chip>
            <!-- <v-switch @change="ChangeStatus(item)" v-model="item.Status"></v-switch> -->
          </td>
          <td>
            <v-btn @click="$emit('delete-action',item)" small color="error"
              >刪除</v-btn
            >
          </td>
        </tr>
      </draggable>
    </template>

    <template v-slot:no-data>
      <v-btn color="primary">
        Reset
      </v-btn>
    </template>
  </v-data-table>
</v-container>
