<div id="Order">
    <v-container>
        <v-row>
            <Breadcrumb :link_array="breadcrumb_data" />
            <GTMEditDialog ref="GTMEditDialog" />

            <v-col cols=" 4" md="4">
                <v-hover v-slot="{ hover }">
                    <a @click="OpenGTMEditDialog">
                        <v-card :elevation="hover ? 12 : 0" class="py-10 px-10 rounded-lg setting_card">
                            <div class="d-flex align-center">
                                <v-icon color="primary" class="mr-4">
                                    mdi-tag-text-outline
                                </v-icon>
                                <p class="my-0 text-h6">GOOGLE TAG MANAGER</p>
                            </div>
                            <p class="mt-2 mb-0 pl-10 caption grey--text">串接Google Tag Manager</p>
                        </v-card>
                    </a>
                </v-hover>
            </v-col>

            <v-col cols="4" md="4">
                <v-hover v-slot="{ hover }">
                    <router-link to="/seo_setting">
                        <v-card :elevation="hover ? 12 : 0" class="py-10 px-10 rounded-lg setting_card">
                            <div class="d-flex align-center">
                                <v-icon color="primary" class="mr-4">
                                    mdi-share-variant
                                </v-icon>
                                <p class="my-0 text-h6">SEO META TAG</p>
                            </div>
                            <p class="mt-2 mb-0 pl-10 caption grey--text">設定網站基礎的SEO META TAG</p>
                        </v-card>
                    </router-link>
                </v-hover>
            </v-col>


        </v-row>
    </v-container>
</div>