<div id="Products">
    <FilterDialog ref="FilterDialog" :order_status_data="order_status_data" :order_payment_data="order_payment_data"
        v-model="filter_data" />
    <v-container>
        <v-row>

            <v-col cols="12" md="12" lg="12" class="mx-auto">
                <div class="header d-flex justify-space-between align-center">
                    <h3 class="my-0 text-h5 font-weight-bold">所有訂單</h3>
                    <div class="d-flex align-center">
                        <v-menu offset-y>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn class="mr-0 grey lighten-2 elevation-0" v-bind="attrs" v-on="on">
                                    更多
                                    <v-icon class="ml-2">mdi-menu-down</v-icon>

                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-item link>
                                    <v-list-item-title>匯出訂單</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                        <!-- <v-btn color="primary font-weight-bold">新增訂單</v-btn> -->
                    </div>
                </div>

                <div class="searchbar d-flex align-stretch pt-5 pb-2">
                    <v-btn @click="OpenFilterDialog" class="ma-0 py-0 filter_btn  black--text" outlined>
                        訂單篩選
                        <v-icon class="ml-2">mdi-menu-down</v-icon>
                    </v-btn>
                    <v-text-field class="searchtext" v-model="key_word" hide-details="auto" color="grey darken-2"
                        outlined dense append-icon="mdi-magnify"></v-text-field>

                </div>

                <div class="filter_bar d-flex align-center py-0">
                    <v-chip v-if="filter_data.status!='all'" class="ma-2 caption" close
                        @click:close="filter_data.status = 'all'">
                        狀態: {{order_status_data.filter(item=>item.value==filter_data.status)[0].label}}
                    </v-chip>
                    <v-chip v-if="filter_data.payment!='all'" class="ma-2 caption" color="secondary" close
                        @click:close="filter_data.payment = 'all'">
                        付款方式: {{order_payment_data.filter(item=>item.value==filter_data.payment)[0].label}}
                    </v-chip>
                </div>

                <ListShow :filter_data="filter_data" :order_status_data="order_status_data"
                    :order_payment_data="order_payment_data" v-model="order_data" :key_word="key_word" />
            </v-col>
        </v-row>
    </v-container>
</div>