<div id="Products">
  <FilterDialog
    ref="FilterDialog"
    :order_status_data="order_status_data"
    v-model="filter_data"
  />
  <ExcelExport
    ref="ExcelExport"
    :order_data="select_order"
    :shipping_list="shipping_list"
    :payment_list="payment_list"
    :zip_code_data="zip_code_data"
    :product_data="product_data"
  />
  <TCATExcelExport
    ref="TCATExcelExport"
    :order_data="select_order"
    :shipping_list="shipping_list"
    :zip_code_data="zip_code_data"
    :product_data="product_data"
  />
  <v-container>
    <v-row>
      <v-col cols="12" class="d-flex justify-space-between align-end">
        <Breadcrumb :link_array="breadcrumb_data" class="pb-0" />
        <div class="d-flex justify-space-between align-center">
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mr-0 grey lighten-2 elevation-0"
                v-bind="attrs"
                v-on="on"
              >
                更多
                <v-icon class="ml-2">mdi-menu-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item>
                <v-btn class="elevation-0" @click="ExcelExport">
                  匯出訂單資料(CSV)
                </v-btn>
              </v-list-item>
              <v-list-item>
                <v-btn class="elevation-0" @click="TCATExcelExport">
                  匯出黑貓物流單(CSV)
                </v-btn>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </v-col>
      <v-col cols="12" md="12" lg="12" class="mx-auto">
        <div class="searchbar d-flex align-stretch  pb-2">
          <v-btn
            @click="OpenFilterDialog"
            class="ma-0 py-0 filter_btn  black--text"
            outlined
          >
            訂單篩選
            <v-icon class="ml-2">mdi-menu-down</v-icon>
          </v-btn>
          <v-text-field
            class="searchtext"
            v-model="key_word"
            hide-details="auto"
            color="grey darken-2"
            outlined
            dense
            append-icon="mdi-magnify"
          ></v-text-field>
        </div>

        <div class="filter_bar d-flex align-center py-0">
          <v-chip
            v-if="filter_data.status!='all'"
            class="ma-2 caption"
            close
            @click:close="filter_data.status = 'all'"
          >
            狀態:
            {{order_status_data.filter(item=>item.value==filter_data.status)[0].label}}
          </v-chip>
        </div>

        <ListShow
          :filter_data="filter_data"
          :shipping_list="shipping_list"
          :order_status_data="order_status_data"
          v-model="order_data"
          :select_order="select_order"
          :key_word="key_word"
          @select-action="UpdateSelectOrder"
        />
      </v-col>
    </v-row>
  </v-container>
</div>
