<div id="Products">
  <v-container>
    <v-row>
      <template>
        <!-- components -->
        <EditDialog
          ref="EditDialog"
          @update-action="UpdateData"
          @create-action="CreateData"
        />
        <DeleteDialog ref="DeleteDialog" @delete-action="DeleteData" />
        <ImageShow ref="ImageShow" />
      </template>

      <v-col cols="12" md="12" lg="12" xl="10" class="mx-auto">
        <div class="header d-flex justify-space-between align-center">
          <Breadcrumb :link_array="breadcrumb_data" />
          <div class="d-flex align-center">
            <v-btn
              @click="OpenUpload"
              color="light-blue lighten-1 white--text elevation-0 font-weight-bold"
              >新增圖片</v-btn
            >
          </div>
        </div>
      </v-col>
      <v-col cols="12">
        <div class="product_list" v-if="carousels.length >0">
          <draggable
            class="row d-flex align-stretch flex-wrap"
            v-model="carousels"
            @start="drag=true"
            @end="drag=false"
            @change="CheckSort"
          >
            <v-col
              cols="12"
              sm="6"
              md="4"
              lg="3"
              v-for="(item) in carousels"
              :key="item.title"
            >
              <v-hover v-slot="{ hover }">
                <v-card
                  class="image_card"
                  :elevation="hover ? 12 : 2"
                  :class="{ 'on-hover': hover }"
                >
                  <v-img :src="item.Image1 | image" :aspect-ratio="5/3">
                    <v-card-title
                      :class="{'show':hover}"
                      class="text-h6 white--text fill-height img_card_control"
                    >
                      <div
                        class="d-flex justify-space-between align-center my-auto mx-auto"
                      >
                        <v-btn
                          @click="OpenEdit(item)"
                          :class="{ 'show-btns': hover }"
                          color="rgba(255, 255, 255, 0)"
                          icon
                        >
                          <v-icon
                            :class="{ 'show-btns': hover }"
                            small
                            color="rgba(255, 255, 255, 0)"
                          >
                            mdi-pencil-outline
                          </v-icon>
                        </v-btn>
                        <v-btn
                          @click="OpenImageShow(item)"
                          :class="{ 'show-btns': hover }"
                          color="rgba(255, 255, 255, 0)"
                          icon
                        >
                          <v-icon
                            :class="{ 'show-btns': hover }"
                            small
                            color="rgba(255, 255, 255, 0)"
                          >
                            mdi-eye
                          </v-icon>
                        </v-btn>
                        <v-btn
                          @click="OpenDelete(item)"
                          :class="{ 'show-btns': hover }"
                          color="rgba(255, 255, 255, 0)"
                          icon
                        >
                          <v-icon
                            :class="{ 'show-btns': hover }"
                            small
                            color="rgba(255, 255, 255, 0)"
                          >
                            mdi-trash-can-outline
                          </v-icon>
                        </v-btn>
                      </div>
                    </v-card-title>
                  </v-img>
                </v-card>
              </v-hover>
            </v-col>
          </draggable>
        </div>
      </v-col>
    </v-row>
  </v-container>
</div>
