<div id="Products">

    <Breadcrumb :link_array="breadcrumb_data" />
    <v-container>
        <v-row>
            <v-col cols="12" lg="6">
                <div class="d-flex justify-space-between align-center mb-3">
                    <h3>封面照片(電腦版)</h3>
                </div>
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <input style="display: none;" type="file" ref="ImageUploadPc"
                        @change="UpdateCoverImage('Pc',$event.target.files)" />

                    <v-hover v-slot="{ hover }">
                        <v-card class="image_card" elevation="0" :class="{ 'on-hover': hover }">
                            <v-img :src="news_cover_pc.image_preview_url">
                                <v-card-title :class="{'show':hover}"
                                    class="text-h6 white--text fill-height img_card_control">
                                    <div class="d-flex justify-space-between align-center my-auto mx-auto">
                                        <v-btn @click="OpenUploadImage('Pc')" :class="{ 'show-btns': hover }"
                                            color="rgba(255, 255, 255, 0)" icon>
                                            <v-icon :class="{ 'show-btns': hover }" color="rgba(255, 255, 255, 0)">
                                                mdi-pencil-outline
                                            </v-icon>
                                        </v-btn>
                                    </div>
                                </v-card-title>
                            </v-img>
                        </v-card>
                    </v-hover>
                </v-card>
            </v-col>
            <v-col cols="12" lg="6">
                <div class="d-flex justify-space-between align-center mb-3">
                    <h3>封面照片(手機版)</h3>
                </div>
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <input style="display: none;" type="file" ref="ImageUploadMb"
                        @change="UpdateCoverImage('Mb',$event.target.files)" />

                    <v-hover v-slot="{ hover }">
                        <v-card class="image_card" elevation="0" :class="{ 'on-hover': hover }">
                            <v-img :src="news_cover_mb.image_preview_url">
                                <v-card-title :class="{'show':hover}"
                                    class="text-h6 white--text fill-height img_card_control">
                                    <div class="d-flex justify-space-between align-center my-auto mx-auto">
                                        <v-btn @click="OpenUploadImage('Mb')" :class="{ 'show-btns': hover }"
                                            color="rgba(255, 255, 255, 0)" icon>
                                            <v-icon :class="{ 'show-btns': hover }" color="rgba(255, 255, 255, 0)">
                                                mdi-pencil-outline
                                            </v-icon>
                                        </v-btn>
                                    </div>
                                </v-card-title>
                            </v-img>
                        </v-card>
                    </v-hover>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</div>