<div id="Products">
  <div v-if="page_data!=null">
    <v-row>
      <v-col cols="12">
        <Breadcrumb :link_array="breadcrumb_data" />
      </v-col>
      <v-col cols="12" class="pb-0">
        <p class="mt-0 mb-0 primary--text font-weight-bold">主打商品區塊</p>
      </v-col>
      <v-col cols="12">
        <v-card class="pa-5 elevation-1">
          <v-row>
            <v-col cols="12" md="6">
              <MainImageCard
                :aspect_ratio="16/9"
                :image_data="page_data.home_product_1_image"
                upload_key="home_product_1_image"
                @update-action="UpdateImage"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                label="標題"
                v-model="page_data.home_product_1_title.Content"
                dense
                outlined
              ></v-text-field>
              <v-text-field
                label="副標題"
                v-model="page_data.home_product_1_subtitle.Content"
                dense
                outlined
              ></v-text-field>
              <v-text-field
                label="連結"
                v-model="page_data.home_product_1_link.Content"
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card class="pa-5 elevation-1">
          <v-row>
            <v-col cols="12" md="6">
              <MainImageCard
                :aspect_ratio="16/9"
                :image_data="page_data.home_product_2_image"
                upload_key="home_product_2_image"
                @update-action="UpdateImage"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                label="標題"
                v-model="page_data.home_product_2_title.Content"
                dense
                outlined
              ></v-text-field>
              <v-text-field
                label="副標題"
                v-model="page_data.home_product_2_subtitle.Content"
                dense
                outlined
              ></v-text-field>
              <v-text-field
                label="連結"
                v-model="page_data.home_product_2_link.Content"
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" class="pb-0">
        <p class="mt-0 mb-0 primary--text font-weight-bold">背景影片區塊</p>
      </v-col>
      <v-col cols="12">
        <v-card class="pa-5 elevation-1">
          <v-text-field
            label="連結"
            v-model="page_data.home_video.Content"
            dense
            outlined
          ></v-text-field>
        </v-card>
      </v-col>
    </v-row>
  </div>
</div>
