<div id="Products">
  <Breadcrumb :link_array="breadcrumb_data" />

  <v-container v-if="page_data!=null">
    <input
      style="display: none;"
      type="file"
      ref="ImageUpload"
      @change="UpdateImage($event.target.files)"
    />
    <v-row>
      <v-col cols="12">
        <p class="mt-0 mb-2">主打商品背景圖片</p>
        <MainImageCard
          :image_data="page_data.home_main_product_bg"
          upload_key="home_main_product_bg"
          @update-action="UpdateImage"
        />
      </v-col>
      <v-col cols="12">
        <p class="mt-0 mb-2">最新商品背景圖片</p>
        <MainImageCard
          :image_data="page_data.home_new_product_bg"
          upload_key="home_new_product_bg"
          @update-action="UpdateImage"
        />
      </v-col>
      <v-col cols="12">
        <p class="mt-0 mb-0">廣告圖片區塊</p>
      </v-col>
      <v-col cols="12" md="6">
        <v-card class="pa-5">
          <v-text-field
            label="連結"
            v-model="page_data.home_promote_1_link.Content"
            dense
            outlined
          ></v-text-field>
          <MainImageCard
            :aspect_ratio="1"
            :image_data="page_data.home_promote_1_image"
            upload_key="home_promote_1_image"
            @update-action="UpdateImage"
          />
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card class="pa-5">
          <v-text-field
            label="連結"
            v-model="page_data.home_promote_2_link.Content"
            dense
            outlined
          ></v-text-field>
          <MainImageCard
            :aspect_ratio="1"
            :image_data="page_data.home_promote_2_image"
            upload_key="home_promote_2_image"
            @update-action="UpdateImage"
          />
        </v-card>
      </v-col>
      <v-col cols="12" md="12">
        <v-card class="pa-5">
          <v-text-field
            label="連結"
            v-model="page_data.home_promote_3_link.Content"
            dense
            outlined
          ></v-text-field>
          <MainImageCard
            :image_data="page_data.home_promote_3_image"
            upload_key="home_promote_3_image"
            @update-action="UpdateImage"
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</div>
