<div class="product_list px-0 mt-3">
  <v-data-table
    :disable-sort="true"
    :headers="headers"
    :items="value"
    :disable-pagination="true"
    :hide-default-footer="true"
    sort-by="calories"
    class="elevation-1 pb-10"
  >
    <template v-slot:body="props">
      <draggable
        :list="value"
        @change="ChangeSort"
        tag="tbody"
        handle=".page__grab-icon"
        @end="drag=false"
      >
        <tr v-for="(item, index) in value" :key="index">
          <td>
            <v-icon small class="page__grab-icon">
              mdi-dots-grid
            </v-icon>
          </td>
          <td>
            <p class="pa-0 ma-0">{{ item.ColorTitle }}</p>
          </td>
          <td>
            <p class="pa-0 ma-0">{{ item.SizeTitle }}</p>
          </td>
          <td>
            {{ item.Stock }}
          </td>
          <td>
            {{ item.Price }}
          </td>
          <td>
            {{ item.SellPrice }}
          </td>
          <td>
            <v-chip v-if="item.Status=='Y'" class="primary" small>
              已啟用
            </v-chip>
            <v-chip v-else small>
              已停用
            </v-chip>
          </td>
          <td>
            <v-btn
              v-if="item.Status=='Y'"
              @click="$emit('set-edit',item)"
              small
              color="success"
              >編輯</v-btn
            >
          </td>
        </tr>
      </draggable>
    </template>

    <template v-slot:no-data>
      <v-btn color="primary">
        Reset
      </v-btn>
    </template>
  </v-data-table>
</div>
