<div id="Products">
    <template>
        <!-- CATEGORY DIALOG -->
        <CategoryCreateDialog ref="CategoryCreateDialog" v-on:create-category="SendCreateCategoryData" />
        <CategoryEditDialog ref="CategoryEditDialog" v-on:update-category="SendUpdateCategoryData" />
        <CategoryDeleteDialog ref="CategoryDeleteDialog" v-on:delete-category="SendDeleteCategoryData" />
    </template>
    <template>
        <!-- QUESTION DIALOG -->
        <CreateDialog ref="CreateDialog" :category_list="ad_categories" v-on:create-ad="SendCreateData" />
        <EditDialog ref="EditDialog" :category_list="ad_categories" v-on:update-ad="SendUpdateData" />
        <DeleteDialog ref="DeleteDialog" v-on:delete-ad="SendDeleteData" />
    </template>
    <ImageShowDialog ref="ImageShowDialog" />
    <Breadcrumb :link_array="breadcrumb_data" />
    <v-container v-if="ad_data!=null">
        <v-row>
            <v-col cols="12" md="12" lg="12" class="mx-auto pa-0 mt-8 px-4">
                <v-row>
                    <v-col cols="12" md="12" lg="6">
                        <div class="d-flex justify-space-between align-center">
                            <h3>大廣告1</h3>
                            <v-btn @click="OpenCreateDialog(2)" color="primary font-weight-bold">新增</v-btn>
                        </div>
                        <ListShow v-on:update-sort="UpdateNewsSort(ad_data_1)" v-on:set-edit="OpenEditDialog"
                            v-on:view-data="OpenImageDialog" v-on:delete-data="OpenDeleteDialog" v-model="ad_data_1" />
                    </v-col>
                    <v-col cols="12" md="12" lg="6">
                        <div class="d-flex justify-space-between align-center">
                            <h3>小廣告1</h3>
                            <v-btn @click="OpenCreateDialog(3)" color="primary font-weight-bold">新增</v-btn>
                        </div>
                        <ListShow v-on:update-sort="UpdateNewsSort(ad_data_2)" v-on:delete-data="OpenDeleteDialog"
                            v-on:view-data="OpenImageDialog" v-on:set-edit="OpenEditDialog" v-model="ad_data_2" />
                    </v-col>
                    <v-col cols="12" md="12" lg="6">
                        <div class="d-flex justify-space-between align-center">
                            <h3>小廣告2</h3>
                            <v-btn @click="OpenCreateDialog(4)" color="primary font-weight-bold">新增</v-btn>
                        </div>
                        <ListShow v-on:update-sort="UpdateNewsSort(ad_data_3)" v-on:view-data="OpenImageDialog"
                            v-on:delete-data="OpenDeleteDialog" v-on:set-edit="OpenEditDialog" v-model="ad_data_3" />
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</div>