<div id="Products">
  <Breadcrumb :link_array="breadcrumb_data" />
  <div class="pa-lg-10 pa-5" v-if="page_data!=null">
    <v-row>
      <v-col cols="12">
        <p class="mt-0 mb-2">公司介紹-封面圖片</p>
        <MainImageCard
          :image_data="page_data.company_image"
          upload_key="company_image"
          @update-action="UpdateImage"
        />
      </v-col>
      <v-col cols="12">
        <p class="mt-0 mb-2">公司資訊</p>
        <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
          <p class="mt-0 mb-2">公司名稱</p>
          <v-text-field
            v-model="page_data.company_name.Content"
            dense
            outlined
          ></v-text-field>
          <p class="mt-0 mb-2">公司信箱</p>
          <v-text-field
            v-model="page_data.company_email.Content"
            dense
            outlined
          ></v-text-field>
          <p class="mt-0 mb-2">公司地址</p>
          <v-text-field
            v-model="page_data.company_address.Content"
            dense
            outlined
          ></v-text-field>
          <p class="mt-0 mb-2">營業時間</p>
          <v-text-field
            v-model="page_data.company_time.Content"
            dense
            outlined
          ></v-text-field>
          <p class="mt-0 mb-2">公司電話</p>
          <v-text-field
            v-model="page_data.company_phone.Content"
            dense
            outlined
          ></v-text-field>
          <p class="mt-0 mb-2">臉書連結</p>
          <v-text-field
            v-model="page_data.company_facebook.Content"
            dense
            outlined
          ></v-text-field>
          <p class="mt-0 mb-2">IG連結</p>
          <v-text-field
            v-model="page_data.company_instagram.Content"
            dense
            outlined
          ></v-text-field>
          <p class="mt-0 mb-2">線上客服連結</p>
          <v-text-field
            v-model="page_data.company_messenger.Content"
            dense
            outlined
          ></v-text-field>
        </v-card>
      </v-col>
    </v-row>
  </div>
</div>
