<v-container class="product_list px-0">
    <v-data-table :disable-sort="true" :headers="headers" :items="value" :disable-pagination="true"
        :hide-default-footer="true" sort-by="calories" class="elevation-1 pb-10">
        <template v-slot:body="props">
            <draggable :list="value" @change="ChangeSort" tag="tbody" handle=".page__grab-icon" @end="drag=false">
                <tr v-for="(item, index) in value" :key="index">
                    <td>
                        <v-icon small class="page__grab-icon">
                            mdi-dots-grid
                        </v-icon>
                    </td>
                    <td>
                        <a @click="SetEdit(item)">{{ item.Title }}</a>
                    </td>

                    <td>
                        {{item.created_at}}
                    </td>
                    <td>
                        <v-btn @click="$emit('delete-data',item)" small color="error">刪除</v-btn>
                    </td>
                </tr>
            </draggable>
        </template>

        <template v-slot:no-data>
            <v-btn color="primary">
                Reset
            </v-btn>
        </template>
    </v-data-table>
</v-container>