<div id="Products">
  <DeleteDialog ref="DeleteDialog" @delete-action="DeleteData" />
  <EditDialog
    ref="EditDialog"
    :zip_code_data="zip_code_data"
    @update-action="UpdateData"
    @create-action="CreateData"
  />
  <v-container v-if="dealers_data!=null">
    <v-row>
      <v-col cols="12">
        <div class="d-flex justify-space-between align-end">
          <Breadcrumb :link_array="breadcrumb_data" class="pb-0" />
          <v-btn
            @click="OpenCreate"
            color="light-blue lighten-1 white--text elevation-0  font-weight-bold"
            >新增經銷</v-btn
          >
        </div>
      </v-col>
      <v-col cols="12">
        <MainDragList
          :options="options"
          :headers="headers"
          @delete-action="OpenDeleteDialog"
          @title-action="OpenEdit($event)"
          @sort-action="SortData"
          v-model="dealers_data"
        />
      </v-col>
    </v-row>
  </v-container>
</div>
