<v-container class="product_list px-0">
    <v-data-table :headers="headers" :items="filter_value" sort-by="calories" class="elevation-1 pb-10" :footer-props="{
           'items-per-page-text':'每頁筆數'
      }">

        <template v-slot:item.order_id="{ item }">
            <router-link :to="`/order/${item.order_id}`">#{{item.order_id}}</router-link>
        </template>

        <template v-slot:item.create_time="{ item }">
            {{item.create_time.slice(0,10)}}
        </template>

        <template v-slot:item.status="{ item }">
            <v-chip :color="status_array[item.status].color" :text-color="status_array[item.status]['text-color']"
                small>
                {{status_array[item.status].label}}
            </v-chip>
        </template>

        <template v-slot:item.total_price="{ item }">
            {{item.total_price | money_format}} TWD
        </template>


        <template v-slot:no-data>
            <v-btn color="primary">
                Reset
            </v-btn>
        </template>
    </v-data-table>
</v-container>