<div id="Products">
  <DeleteDialog ref="DeleteDialog" @delete-action="DeleteData" />
  <div class="pa-lg-10 pa-5" v-if="product_data!=null">
    <!-- header -->
    <v-row>
      <v-col cols="12">
        <div class=" d-flex justify-space-between align-end">
          <Breadcrumb :link_array="breadcrumb_data" class="pb-0" />
          <div class="d-flex flex-column align-end">
            <span
              class="text-body-2 grey--text text--darken-1 font-weight-regular d-block"
              >最後更新於 : {{product_data.updated_at}}</span
            >
            <v-btn
              v-if="edit_type=='edit'"
              @click="OpenDeleteDialog"
              class="px-0"
              color="error"
              small
              text
            >
              <v-icon small>mdi-trash-can-outline</v-icon>刪除商品
            </v-btn>
          </div>
        </div>
      </v-col>
    </v-row>
    <!-- header -->
    <v-row class="mb-2">
      <v-col cols="12">
        <v-card elevation="2" class="px-4 rounded-lg">
          <v-tabs class="rounded-lg" v-model="tab" align-with-title>
            <v-tabs-slider color="primary"></v-tabs-slider>

            <v-tab> 基本資訊 </v-tab
            ><v-tab>
              SEO設定
            </v-tab>
          </v-tabs>
        </v-card>
      </v-col>
    </v-row>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-row>
          <v-col cols="12" lg="12">
            <v-row class="d-flex align-stretch">
              <v-col class="d-flex flex-column" cols="12" md="6">
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                  <h3 class="mt-0 mb-2">商品名稱</h3>
                  <v-text-field
                    v-model="product_data.Title"
                    dense
                    outlined
                  ></v-text-field>
                </v-card>
                <v-card elevation="2" class="pa-8 rounded-lg flex-grow-1">
                  <h3 class="d-flex align-center">
                    <v-icon class="mr-2">mdi-shape-outline</v-icon>啟用狀態
                  </h3>
                  <v-select
                    class="mb-8"
                    v-model="product_data.Status"
                    :items="status_data"
                    item-text="label"
                    item-value="value"
                    hide-details
                  ></v-select>
                  <div>
                    <v-checkbox
                      :hide-details="true"
                      v-model="product_data.CombineDiscount"
                      label="組合商品"
                    >
                    </v-checkbox>
                    <v-checkbox
                      :hide-details="true"
                      v-model="product_data.DeliveryFrozen"
                      label="低溫商品"
                    >
                    </v-checkbox>
                  </div>
                </v-card>
              </v-col>

              <v-col class="d-flex flex-column" cols="12" md="6">
                <v-card elevation="2" class="pa-8 rounded-lg flex-grow-1">
                  <h3 class="d-flex align-center mb-4">
                    <v-icon class="mr-2">mdi-image</v-icon>商品封面圖
                  </h3>
                  <input
                    style="display: none;"
                    type="file"
                    ref="ImageUpload1"
                    @change="ChangeImageFile($event.target.files,1)"
                  />
                  <v-hover v-slot="{ hover }">
                    <v-card
                      class="image_card"
                      elevation="0"
                      :class="{ 'on-hover': hover }"
                    >
                      <v-img
                        :src="cover_file.cover_1_preview_url"
                        aspect-ratio="1"
                      >
                        <v-card-title
                          :class="cover_file.cover_1_preview_url==''?'show':hover?'show':''"
                          class="text-h6 white--text fill-height img_card_control"
                        >
                          <div
                            class="d-flex justify-space-between align-center my-auto mx-auto"
                          >
                            <v-btn
                              @click="OpenUploadImage(1)"
                              :class="cover_file.cover_1_preview_url==''?'show-btns':hover?'show-btns':''"
                              color="rgba(255, 255, 255, 0)"
                              icon
                            >
                              <v-icon
                                :class="cover_file.cover_1_preview_url==''?'show-btns':hover?'show-btns':''"
                                color="rgba(255, 255, 255, 0)"
                              >
                                mdi-pencil-outline
                              </v-icon>
                            </v-btn>
                          </div>
                        </v-card-title>
                      </v-img>
                    </v-card>
                  </v-hover>
                </v-card>
              </v-col>
            </v-row>
          </v-col>

          <v-col cols="12">
            <v-card elevation="2" class="pa-8 rounded-lg ">
              <h3 class="d-flex align-center mb-4">
                <v-icon class="mr-2">mdi-shape-outline</v-icon>販售期間
              </h3>
              <v-select
                v-model="product_data.GoodsTimeSet"
                label="限制販售期間"
                :items="time_status_data"
                item-text="label"
                item-value="value"
                dense
                outlined
              ></v-select>

              <template v-if="product_data.GoodsTimeSet">
                <DateTimePicker
                  label="開始販售時間"
                  v-model="product_data.GoodsTimeStart"
                />
                <DateTimePicker
                  label="結束販售時間"
                  v-model="product_data.GoodsTimeEnd"
                />
              </template>
            </v-card>
          </v-col>

          <v-col cols="12">
            <v-card elevation="2" class="pa-8 rounded-lg ">
              <h3 class="d-flex align-center">
                <v-icon class="mr-2">mdi-shape-outline</v-icon>商品分類
              </h3>
              <v-select
                class="mb-8"
                v-model="product_data.MenuID"
                :items="category_data"
                item-text="Title"
                item-value="MenuID"
                chips
                hide-details
                multiple
              ></v-select>
              <!-- multiple -->
              <h3 class="d-flex align-center mt-4">
                <v-icon class="mr-2">mdi-list-status</v-icon>推薦商品分類
              </h3>
              <v-select
                v-model="product_data.RecommendMenuID"
                :items="category_data"
                item-text="Title"
                item-value="MenuID"
                hide-details
              ></v-select>
            </v-card>
          </v-col>
          <v-col cols="12" lg="12">
            <v-card elevation="2" class="pa-8 rounded-lg">
              <h3 class="mt-0 mb-2">商品詳細介紹</h3>
              <FroalaEditor v-model="product_data.Memo1" />
            </v-card>
          </v-col>
          <v-col cols="12" lg="12">
            <v-card elevation="2" class="pa-8 rounded-lg">
              <h3 class="mt-0 mb-2">下單流程</h3>
              <FroalaEditor v-model="product_data.Memo2" />
            </v-card>
          </v-col>
          <v-col cols="12" lg="12">
            <v-card elevation="2" class="pa-8 rounded-lg">
              <h3 class="mt-0 mb-2">注意事項</h3>
              <FroalaEditor v-model="product_data.Memo3" />
            </v-card>
          </v-col>
        </v-row>
      </v-tab-item>
      <v-tab-item>
        <v-col cols="12">
          <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
            <p class="mt-0 mb-2">SEO 頁面描述</p>
            <FroalaEditor v-model="product_data.Description" />
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
            <h3 class="d-flex align-center mb-4">
              <v-icon class="mr-2">mdi-image</v-icon>SEO 分享圖片
            </h3>
            <input
              style="display: none;"
              type="file"
              ref="ImageUpload2"
              @change="ChangeImageFile($event.target.files,2)"
            />
            <v-hover v-slot="{ hover }">
              <v-card
                class="image_card"
                elevation="0"
                :class="{ 'on-hover': hover }"
              >
                <v-img
                  :src="cover_file.cover_2_preview_url"
                  :aspect-ratio="1200/630"
                >
                  <v-card-title
                    :class="cover_file.cover_2_preview_url==''?'show':hover?'show':''"
                    class="text-h6 white--text fill-height img_card_control"
                  >
                    <div
                      class="d-flex justify-space-between align-center my-auto mx-auto"
                    >
                      <v-btn
                        @click="OpenUploadImage(2)"
                        :class="cover_file.cover_2_preview_url==''?'show-btns':hover?'show-btns':''"
                        color="rgba(255, 255, 255, 0)"
                        icon
                      >
                        <v-icon
                          :class="cover_file.cover_2_preview_url==''?'show-btns':hover?'show-btns':''"
                          color="rgba(255, 255, 255, 0)"
                        >
                          mdi-pencil-outline
                        </v-icon>
                      </v-btn>
                    </div>
                  </v-card-title>
                </v-img>
              </v-card>
            </v-hover>
          </v-card>
        </v-col>
      </v-tab-item>
    </v-tabs-items>
  </div>
</div>
