<div id="Products">
    <DeleteDialog ref="DeleteDialog" v-on:load-data="$router.push('/products')" />
    <v-container v-if="product_data!=null">
        <v-row>
            <Breadcrumb :link_array="breadcrumb_data" />
            <v-col cols="12" md="12" lg="12" class="mx-auto py-0">
                <div class="header d-flex justify-space-between align-center">
                    <h3 class="my-0 text-h5 font-weight-black">商品 / {{product_data.name}}
                        <span class="text-body-2 grey--text text--darken-1 font-weight-regular ml-2">最後更新於
                            : {{product_data.update_time}}</span>
                    </h3>
                    <div class="d-flex align-center">
                        <v-btn color="elevation-0 mx-3 px-0 font-weight-bold" icon large>
                            <v-icon>mdi-chevron-left</v-icon>
                        </v-btn>
                        <v-btn color="elevation-0 mx-3 font-weight-bold" icon large>
                            <v-icon>mdi-chevron-right</v-icon>
                        </v-btn>
                    </div>
                </div>
            </v-col>
            <v-col cols="12" md="12" lg="12" class="mx-auto py-0">
                <v-btn @click="OpenDeleteDialog" class="px-0 mr-4" color="error" small text>
                    <v-icon small>mdi-trash-can-outline</v-icon>刪除商品
                </v-btn>
                <!-- <v-btn class="px-0" color="primary" small text>
                    <v-icon small>mdi-content-copy</v-icon>複製商品
                </v-btn> -->
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" md="8">
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <p class="mt-0 mb-2">商品名稱*</p>
                    <v-text-field v-model="product_data.name" dense outlined></v-text-field>
                    <p class="mt-0 mb-2">商品描述</p>
                    <FroalaEditor v-model="product_data.description" />
                </v-card>

                <ImageCard ref="ImageCard" v-model="product_data.images" v-on:delete-image="UpdateDeleteImages"
                    elevation="2" class="pa-8 mb-5 rounded-lg" />
                <OptionCard ref="OptionCard" v-on:delete-option="UpdateDeleteOptions"
                    v-on:delete-type="UpdateDeleteOptionTypes" v-model="product_data.options" elevation="2"
                    class="pa-8 mb-5 rounded-lg" />
                <OptionCombineCard ref="OptionCombineCard" :options="product_data.options"
                    v-on:update="UpdateOptionCombine" :option_combine="product_data.option_combine" elevation="2"
                    class="pa-8 mb-5 rounded-lg" />
            </v-col>
            <v-col cols="4">
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <h3 class="d-flex align-center mb-4">
                        <v-icon class="mr-2">mdi-list-status</v-icon>商品狀態
                    </h3>
                    <v-select v-model="product_data.status" :items="status_data" item-text="label" item-value="value"
                        hide-details dense outlined single-line></v-select>
                </v-card>
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <h3 class="d-flex align-center mb-4">
                        <v-icon class="mr-2">mdi-shape-outline</v-icon>商品分類
                    </h3>
                    <v-select v-model="product_data.category" :items="category_data" item-text="name"
                        item-value="category_id" chips multiple hide-details></v-select>
                </v-card>

                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <h3 class="d-flex align-center mb-4">
                        <v-icon class="mr-2">mdi-image</v-icon>商品封面圖
                    </h3>
                    <input style="display: none;" type="file" ref="ImageUpload"
                        @change="UpdateCoverImage($event.target.files)" />
                    <v-hover v-slot="{ hover }">
                        <v-card class="image_card" elevation="0" :class="{ 'on-hover': hover }">
                            <v-img :src="product_data.cover" aspect-ratio="1">
                                <v-card-title :class="{'show':hover}"
                                    class="text-h6 white--text fill-height img_card_control">
                                    <div class="d-flex justify-space-between align-center my-auto mx-auto">
                                        <v-btn @click="OpenUploadImage()" :class="{ 'show-btns': hover }"
                                            color="rgba(255, 255, 255, 0)" icon>
                                            <v-icon :class="{ 'show-btns': hover }" color="rgba(255, 255, 255, 0)">
                                                mdi-pencil-outline
                                            </v-icon>
                                        </v-btn>
                                    </div>
                                </v-card-title>
                            </v-img>
                        </v-card>
                    </v-hover>
                </v-card>

            </v-col>
        </v-row>
    </v-container>
</div>