<div id="Products">
  <v-container v-if="menu_data!=null">
    <FilterDialog
      ref="FilterDialog"
      :category_data="category_data"
      v-model="filter_data"
    />
    <MenuEditDialog
      ref="MenuEditDialog"
      :category_list="category_data"
      @update-action="UpdateData"
      @create-action="CreateData"
    />
    <DeleteDialog ref="DeleteDialog" @delete-action="DeleteData" />

    <v-row>
      <v-col cols="12" class="d-flex justify-space-between">
        <Breadcrumb :link_array="breadcrumb_data" />
        <div class="d-flex justify-space-between align-center">
          <v-btn
            @click="$router.push('/event_page/new')"
            color="light-blue lighten-1 white--text font-weight-bold elevation-0"
            >新增銷售頁</v-btn
          >
        </div>
      </v-col>
      <v-col cols="12" md="12" lg="12" class="mx-auto">
        <div class="searchbar d-flex align-stretch pb-2">
          <v-btn
            @click="OpenFilterDialog"
            class="ma-0 py-0 filter_btn  black--text"
            outlined
          >
            分類篩選
            <v-icon class="ml-2">mdi-menu-down</v-icon>
          </v-btn>
          <v-text-field
            class="searchtext"
            v-model="key_word"
            hide-details="auto"
            color="grey darken-2"
            outlined
            dense
            append-icon="mdi-magnify"
          ></v-text-field>
        </div>

        <div class="filter_bar d-flex align-center py-0">
          <v-chip
            v-if="filter_data.category!='all'"
            class="ma-2 caption"
            close
            @click:close="filter_data.category='all'"
          >
            目錄：{{GetCategoryName()}}
          </v-chip>
          <v-chip
            v-if="filter_data.status=='Y'"
            class="ma-2 caption"
            close
            @click:close="filter_data.status = 'all'"
          >
            狀態: 已啟用
          </v-chip>
          <v-chip
            v-if="filter_data.status=='N'"
            class="ma-2 caption"
            close
            @click:close="filter_data.status = 'all'"
          >
            狀態: 已停用
          </v-chip>
        </div>

        <MainDragList
          :options="options"
          :headers="headers"
          @delete-action="OpenDeleteDialog"
          @title-action="$router.push(`/event_page/${$event.MenuID}`)"
          @sort-action="SortData"
          @url-action="ShowUrl($event)"
          v-model="filter_menu_data"
        />
      </v-col>
    </v-row>
  </v-container>
</div>
