<div id="Products">
  <template>
    <!-- QUESTION DIALOG -->
    <CreateDialog
      ref="CreateDialog"
      :category_list="news_categories"
      v-on:create-news="SendCreateData"
    />
    <EditDialog
      ref="EditDialog"
      :category_list="news_categories"
      v-on:update-news="SendUpdateData"
    />
    <DeleteDialog ref="DeleteDialog" v-on:delete-news="SendDeleteData" />
  </template>
  <Breadcrumb :link_array="breadcrumb_data" />
  <v-container v-if="news_data!=null">
    <v-row>
      <v-col cols="12">
        <div class="d-flex justify-space-between align-center">
          <h3>文章列表</h3>
          <v-btn @click="OpenCreateDialog" color="primary font-weight-bold"
            >新增</v-btn
          >
        </div>
        <ListShow
          v-on:update-sort="UpdateNewsSort"
          v-on:delete-data="OpenDeleteDialog"
          v-on:set-edit="OpenEditDialog"
          v-model="news_data"
        />
      </v-col>
    </v-row>
  </v-container>
</div>
