<div id="Products">
    <Breadcrumb :link_array="breadcrumb_data" />

    <v-container v-if="about_cover!=null && about_content!=null">
        <input style="display: none;" type="file" ref="ImageUpload" @change="UpdateCoverImage($event.target.files)" />
        <v-row>
            <v-col cols="4">
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <p class="mt-0 mb-2">SEO圖片</p>

                    <v-hover v-slot="{ hover }">
                        <v-card class="image_card" elevation="0" :class="{ 'on-hover': hover }">
                            <v-img :src="image_preview_url">
                                <v-card-title :class="{'show':hover}"
                                    class="text-h6 white--text fill-height img_card_control">
                                    <div class="d-flex justify-space-between align-center my-auto mx-auto">
                                        <v-btn @click="OpenUploadImage()" :class="{ 'show-btns': hover }"
                                            color="rgba(255, 255, 255, 0)" icon>
                                            <v-icon :class="{ 'show-btns': hover }" color="rgba(255, 255, 255, 0)">
                                                mdi-pencil-outline
                                            </v-icon>
                                        </v-btn>
                                    </div>
                                </v-card-title>
                            </v-img>
                        </v-card>
                    </v-hover>
                </v-card>
            </v-col>
            <v-col cols="12" md="8">
                <v-card elevation="2" class="pa-8 mb-5 rounded-lg">
                    <p class="mt-0 mb-2">SEO描述</p>
                    <FroalaEditor v-model="about_content.Content" />
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</div>