<v-container style="height: 100%;" class="d-flex align-center justify-center">
    <v-row class="d-flex flex-column justify-center">
        <v-col cols="12" md="12" lg="3" class="mx-auto pb-10">
            <div class="mx-auto">
                <v-img class="mx-auto" max-width="250" style="width: 250px;" src="@/assets/logo.png?v2"></v-img>
            </div>
        </v-col>
        <v-col cols="12" md="12" lg="4" class="mx-auto pt-2 d-flex align-center">
            <v-divider></v-divider>
            <span class="mx-4  grey--text">使用電子郵件登入</span>
            <v-divider></v-divider>
        </v-col>
        <v-col cols="12" md="12" lg="4" class="mx-auto pt-4">
            <v-text-field v-model="account" class="mb-4" :flat="true" dense solo :hide-details="true"></v-text-field>
            <v-text-field v-model="password" type="password" dense solo :flat="true" :hide-details="true">
            </v-text-field>
            <v-btn @click="Login" class="d-block mt-4 body-1" large style="width:100%" depressed color="primary">
                登入
            </v-btn>
            <p v-if="error_msg!=''" class="body-2 text-center mt-4 red--text text--darken-4">{{error_msg}}</p>
            <p class="caption text-center mt-4 grey--text">© 2021 Rerace. All Rights Reserved.</p>
        </v-col>
    </v-row>
</v-container>