<div style="height: 100vh;" class="d-flex align-center justify-center">
  <v-card class="elevation-1 pa-8" style="width:450px;max-width:95%">
    <v-row class="d-flex flex-column justify-center">
      <v-col cols="12" md="12" class="mx-auto">
        <div class="mx-auto">
          <h2 class="text-center">歡迎使用</h2>
          <h3 class="text-center text-h5 primary--text">
            耀聞水果世界電商後台
          </h3>
        </div>
      </v-col>
      <v-col cols="12" md="12" class="mx-auto pt-2 d-flex align-center">
        <v-divider></v-divider>
        <span class="mx-4  grey--text">使用電子郵件登入</span>
        <v-divider></v-divider>
      </v-col>
      <v-col cols="12" md="12" class="mx-auto pt-4">
        <v-text-field
          v-model="account"
          class="mb-4"
          :flat="true"
          outlined
          :hide-details="true"
        ></v-text-field>
        <v-text-field
          v-model="password"
          v-on:keyup.enter="SendLoginData"
          type="password"
          outlined
          :flat="true"
          :hide-details="true"
        >
        </v-text-field>
        <v-btn
          @click="SendLoginData"
          class="d-block mt-4 body-1"
          large
          style="width:100%"
          depressed
          color="primary"
        >
          登入
        </v-btn>
        <p
          v-if="error_msg!=''"
          class="body-2 text-center mt-4 red--text text--darken-4"
        >
          {{error_msg}}
        </p>
        <p class="caption text-center mt-4 grey--text">
          © 2022 耀聞水果世界. All Rights Reserved.
        </p>
      </v-col>
    </v-row>
  </v-card>
</div>
