<div id="Products">
  <v-container v-if="page_data!=null">
    <v-row>
      <v-col cols="12">
        <Breadcrumb :link_array="breadcrumb_data" />
      </v-col>
      <v-col cols="12">
        <v-card class="pa-5 elevation-1">
          <v-text-field
            label="標語"
            v-model="page_data.about_slogan.Content"
            dense
            outlined
          ></v-text-field>
          <FroalaEditor v-model="page_data.about_content.Content" />
        </v-card>
      </v-col>
      <v-col cols="12">
        <MainImageCard
          :aspect_ratio="16/9"
          :image_data="page_data.about_image"
          upload_key="about_image"
          @update-action="UpdateImage"
        />
      </v-col>
    </v-row>
  </v-container>
</div>
