<v-data-table
  :disable-sort="true"
  :headers="headers"
  :items="value"
  :disable-pagination="true"
  :hide-default-footer="true"
  class="elevation-1 pb-10"
>
  <template v-slot:item.TableTitle="{item}">
    <a class="table_item_title" @click="$emit('title-action',item)"
      >{{ item.TableTitle }}
      <v-icon small color="primary">mdi-open-in-new</v-icon>
    </a>
  </template>

  <template
    v-if="options.status && options.status.length>0"
    v-slot:item.Status="{item}"
  >
    <template v-for="(label,label_index) in options.status">
      <v-chip
        v-if="item.Status == label.condition"
        :class="label.class"
        label
        small
        :key="`label_${label_index}`"
      >
        {{label.title}}
      </v-chip>
    </template>
  </template>

  <template
    v-if="options.action && options.action.length>0"
    v-slot:item.action="{ item }"
  >
    <template v-for="(action,action_index) in options.action">
      <v-btn
        :key="`action_${action_index}`"
        @click="$emit(action.action,item)"
        small
        :class="action.class"
        class="elevation-0"
        >{{action.title}}</v-btn
      >
    </template>
  </template>

  <template v-slot:no-data>
    <p>目前沒有任何資料可以顯示</p>
  </template>
</v-data-table>
